---
title: About David Swärd
body_class: index
---
%article
  %h1 About David

  %p David Swärd was born in Malmö in 1958 and is at present active in Norrköping. He possesses a composer's education from Malmö Academy of Music. He has also acquired an education as a director of music at the same academy. Among his teachers were Jan W Morthensson, Hans Gefors, Miklós Maros and Sven-Erik Johansson. David Swärd was chosen to be a member of the Society of Swedish Composers in 1994.

  %p On a parallel with his work as a composer he teaches composition and musical theory at the upper secondary school for music in Norrköping. Previously he also taught the same subjects at Örebro Academy of Music. During the course of his activity as a composer he has had many commissioned works for, among others, Rikskonserter (Concerts Sweden), the Symphony Orchestra of Norrköping, Konstnärsnämnden (the Swedish Arts Grants Committee), Östgöta Blåsarsymfoniker and the Swedish Co-Operative Union for its 100th anniversary. These commissions have brought about orchestral works as well as choir works, works for smaller ensembles and installations of sound.

  %p Pieces such as Solar Edge, Det omöjliga (The Impossible), Genomslag (Breakthrough), Descend and To Sleep have been performed on Swedish Radio (Sveriges Riksradio), Finnish Radio (Finska Riksradion) and Latvian Radio (Lettiska Riksradion). He was also represented at the Nordic Days of Music (Nordiska musikdagar) in Helsinki with the piece Descend in the year 2000 and in Norrköping with the piece Ex Gravitas 2007.

  %p Davis Swärd often works across boundaries and co-operates with representatives of other disciplines such as art and natural science as for example in Zeugma for viola and two cellos and in Windstep for solo trombone and. He also likes to work with alternative forms of presentation such as sound installations. (Trainwaves in the milieu of Norrköping Travel Centre and Traces Behind in the exhibition Eriksgatan i Östergötland (The Royal Tour in Östergötland)).

  %p David Swärd also has commissions as a lecturer at many of Sweden's musical academies. He has been awarded scholarships from The Swedish Arts Grants Committee, STIM and The Society of Swedish Composers as well as the Norrköping Cultural Scholarship.