---
title: Contact David Swärd
body_class: contact
---
%article
  %section.left
    hej
  %section.right
    %p
      %span +46 (0)11 - 238916
      %span +46 (0)731 - 589269
    %p
      %span David Swärd 
      %span Syltbergsgatan 19
      %span 602 28 Norrköping
      %span SWEDEN
    %p
      %span
        = link_to 'hello@davidsward.se', 'mailto:hello@davidsward.se'
