---
title: Work by David Swärd
body_class: work
---
%article
  %section
    .panelheader
      %span Hej
    .panelcontent
      %p
        Som titeln anger är skeendet i musiken ett långsamt fallande. Rockiga sextondelslicks läggs ut i de fyra stämmorna i en polyfon väv där pulsen är den centrala faktorn. Ett kompext rytmiskt mönster där pulsen förlorar i betydelse är en annan del av innehållet. Slutligen en tredje betydande del är en målad stilla klang med ett långsamt fallande. 
      %p
        Dessa tre motiv kombineras på ett varierat sätt och stycket avslutas när det långsamt fallande har nått sitt låga slutmål. Stycket implicerar rytmisk viriositet och dynamisk balans mellan instrument.
  %section
    .panelheader
      %span Hej
    .panelcontent
      %p
        Som titeln anger är skeendet i musiken ett långsamt fallande. Rockiga sextondelslicks läggs ut i de fyra stämmorna i en polyfon väv där pulsen är den centrala faktorn. Ett kompext rytmiskt mönster där pulsen förlorar i betydelse är en annan del av innehållet. Slutligen en tredje betydande del är en målad stilla klang med ett långsamt fallande. 
      %p
        Dessa tre motiv kombineras på ett varierat sätt och stycket avslutas när det långsamt fallande har nått sitt låga slutmål. Stycket implicerar rytmisk viriositet och dynamisk balans mellan instrument.
  %section
    .panelheader
      %span Hej
    .panelcontent
      %p
        Som titeln anger är skeendet i musiken ett långsamt fallande. Rockiga sextondelslicks läggs ut i de fyra stämmorna i en polyfon väv där pulsen är den centrala faktorn. Ett kompext rytmiskt mönster där pulsen förlorar i betydelse är en annan del av innehållet. Slutligen en tredje betydande del är en målad stilla klang med ett långsamt fallande. 
      %p
        Dessa tre motiv kombineras på ett varierat sätt och stycket avslutas när det långsamt fallande har nått sitt låga slutmål. Stycket implicerar rytmisk viriositet och dynamisk balans mellan instrument.
  %section
    .panelheader
      %span Hej
    .panelcontent
      %p
        Som titeln anger är skeendet i musiken ett långsamt fallande. Rockiga sextondelslicks läggs ut i de fyra stämmorna i en polyfon väv där pulsen är den centrala faktorn. Ett kompext rytmiskt mönster där pulsen förlorar i betydelse är en annan del av innehållet. Slutligen en tredje betydande del är en målad stilla klang med ett långsamt fallande. 
      %p
        Dessa tre motiv kombineras på ett varierat sätt och stycket avslutas när det långsamt fallande har nått sitt låga slutmål. Stycket implicerar rytmisk viriositet och dynamisk balans mellan instrument.